@model Blog23.Models.Comment

@{
    ViewData["Title"] = "Details";  
    //var newComment = new Comment();
}
@*<h2>Add Comment</h2>*@
<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <textarea name="Body" placeholder="Type your new comment here." class="form-control"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
        <input type="hidden" name="postId" value="@Model.Id" />
        <input type="hidden" name="blogUserId" value="@User.Identity.Name" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
