@{
    ViewData["Title"] = "Home Page";
}

<p>
    My name is Lawson.
    But they call me the Unstoppable Problem Solver.
    I love to solve problems and I don’t stop until I’ve found a solution!
    I can build anything I put my mind to.
    I work primarily in C# and JavaScript with HTML, XAML and CSS and a few things like AJAX, jQuery and Bootstrap within the .NET Framework(s): Core, ASP, Xamarin, Blazor, MAUI, etc… I usually prefer MVC and MVVM but can be persuaded to other architectural design patterns when they make more sense for the project at hand.
    I love translating real-world activities into machine operable tasks to decrease the mental and physical load on workers and managers, allowing them to focus on their key functions, thus increasing the bottom line for my clients!

    See my work samples here: <a>https://www.JuggernOtt81.com</a>
</p>
